.trending {
  border-bottom: 1px solid lightgray;
  height: 375px;
  padding: 0 3.625em;
  .container {
    padding-top: 1em;
    .title {
      display: flex;
      align-items: center;
      font-size: 20px;
      gap: 10px;
      span {
        font-weight: bold;
      }
    }
  }
  .pp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.1em;
  }
}
